@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>World Of Basketball</h1>
    <p class="lead">Добро пожаловать в Мир Баскетбола</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">К командам&raquo;</a></p>
</div>